    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <input type="checkbox" id="no-js-navbar-toggle" style="display:none;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <label for="no-js-navbar-toggle" class="no-js-navbar-toggle"></label>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="{{  site.baseurl }}/img/wedding.svg"> {{ site.title }}
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    {% assign sorted_pages = site.html_pages | where:"lang", lang | sort:"order" %}
                    {% for p in sorted_pages %}
                    {% unless p.name == "index.html" or p.name == "404.html" %}
                    {% capture absolute %}{% if page.url != "/fr/" and page.url != "/ru/" %}/{{ lang }}/{% endif %}{% endcapture %}
                    <li>
                        <a class="page-scroll" href="{{ absolute }}#{{ p.slug }}">{{ p.title }}</a>
                    </li>
                    {% endunless %}
                    {% endfor %}

                    {% assign languages=site.languages %}
                    {% for language in languages %}
                    <li>
                        <a class="switch-language" href="/{{ language }}/{{ page.ref }}">
                            <img class="img-responsive navbar-icon"
                                src="{{ site.baseurl }}/img/{{ language }}.svg" alt="">
                        </a>
                    </li>
                    {% endfor %}
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
