<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% capture lang %}{% if page.lang != site.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}{% endcapture %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ lang }}" lang="{{ lang }}">

	{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	{% include navigation.html %}
	{% include header.html %}

  {% assign sorted_pages = site.html_pages | where:"lang", lang | sort:"order" %}
  {% for page in sorted_pages %}
    {% if page.section-type == "about" %}
      <!-- {{ page.title }} Section -->
      <section id="{{ page.slug }}" style="background-color: #fffcf1" class="content-section text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2 id="{{ page.title }}">{{ page.title }}</h2>
              <div class="about-image">
                <img class="img-circle about-img-responsive" loading="lazy"
                  src="{{ site.baseurl }}/{% if post.image %}{{ post.image }}{% else %}{{site.timeline_img_default}}{% endif %}"
                  alt="">
              </div>
              {{ page.content | markdownify }}
            </div>
          </div>
        </div>
      </section>
    {% elsif page.section-type == "contact" %}
      <!-- {{ page.title }} Section -->
      <section id="{{ page.slug }}" class="container content-section text-center">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                {{ page.content | markdownify }}

                {% if site.email %}
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                {% endif %}
                <ul class="list-inline social-buttons">
                    {% for network in page.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
                    {% endfor %}
                </ul>
              </div>
          </div>
      </section>
    {% elsif page.section-type == "timeline" %}
      <!-- {{ page.title }} Section -->
      <section id="{{ page.slug }}" class="container content-section text-center">
          <div class="row">
              <div class="col-lg-12">
                {{ page.content | markdownify }}
                <ul class="timeline">
                {% assign posts = site.posts | where:"lang", lang %}
                {% for post in posts %}
                  {% assign loopindex = forloop.index | modulo: 2 %}
                  {% capture class %}
                    {% if loopindex == 0 %}
                      timeline-inverted
                    {% endif %}
                  {% endcapture %}

                  <li id="{{ post.id }}" class="{{ class }}">
                      <a href="{{ post.url }}">
                        <div class="timeline-image">
                          <img class="img-circle timeline-img-responsive" loading="lazy" src="{{ site.baseurl }}/{% if post.image %}{{ post.image }}{% else %}{{site.timeline_img_default}}{% endif %}" alt="">
                        </div>
                      </a>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4 class="timeline-heading-date"><i class="fa fa-calendar"></i>{{ post.dateshow }}</h4>
                              <h4 class="subheading">{{ post.title }}</h4>
                          </div>
                          <div class="timeline-body">
                              <p class="text-muted">{{ post.timelinetext }}</p>
                          </div>
                      </div>
                  </li>

                {% endfor %}

                  <li class="timeline-inverted">
                    <div class="timeline-image">
                      <img class="img-circle img-responsive" src="{{ site.baseurl }}/{{ site.timeline_img_default }}" alt="">
                    </div>
                  </li>
   
                </ul>

              </div>
          </div>
      </section>
    {% endif %}
  {% endfor %}

	{% include footer.html %}
	{% include js.html %}

</body>
</html>
