<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% capture lang %}{% if page.lang != site.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}{% endcapture %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ lang }}" lang="{{ lang }}">

    {% include head.html %}
    <!-- Photoswipe -->
    <script>
        var downloadText = "{{ site.data.languages[lang].gallerySownload }}";
        var facebookText = "{{ site.data.languages[lang].galleryShareFacebook }}";
    </script>
    <script src="{{ site.baseurl }}/js/photoswipe.min.js"></script>
    <script src="{{ site.baseurl }}/js/photoswipe-ui-default.min.js"></script>
    <script src="{{ site.baseurl }}/js/photoswipe-custom.js"></script>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	{% include navigation.html %}
  
    <!-- {{ page.title }} Section -->
    <section id="{{ page.title }}" class="post-section container text-center">
        <div class="row">
            <div class="post-main-image">
                <div class="post-heading">
                    <h2>{{ page.title }}</h4>
                    <h5>{{ page.dateshow }}</h4>
                </div>
                <p>
                    <img class="img-responsive" src="{{ site.baseurl }}/{% if page.image %}{{ page.image }}{% else %}{{site.career-img}}{% endif %}" alt="">
                </p>
            </div>
            <div class="col-lg-12">
                <div class="post-body">
                    {{ page.content }}
                </div>
            </div>
        </div>
    </section>

	{% include footer.html %}
    {% include js.html %}
    
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    
        <!-- Background of PhotoSwipe. 
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>
    
        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">
    
            <!-- Container that holds slides. 
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
    
            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">
    
                <div class="pswp__top-bar">
    
                    <!--  Controls are self-explanatory. Order can be changed. -->
    
                    <div class="pswp__counter"></div>
    
                    <button class="pswp__button pswp__button--close" title="{{ site.data.languages[lang].galleryClose }}"></button>
    
                    <button class="pswp__button pswp__button--share" title="{{ site.data.languages[lang].galleryShare }}"></button>
    
                    <button class="pswp__button pswp__button--fs" title="{{ site.data.languages[lang].galleryToggleFullscreen }}"></button>
    
                    <button class="pswp__button pswp__button--zoom" title="{{ site.data.languages[lang].galleryZoom }}"></button>
    
                    <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
    
                <button class="pswp__button pswp__button--arrow--left" title="{{ site.data.languages[lang].galleryPrevious }}">
                </button>
    
                <button class="pswp__button pswp__button--arrow--right" title="{{ site.data.languages[lang].galleryNext }}">
                </button>
    
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
